services:
  postgis:
    image: postgis/postgis:17-3.5-alpine
    environment:
      POSTGRES_USER: reitti
      POSTGRES_PASSWORD: reitti
      POSTGRES_DB: reittidb
    ports:
      - "5432:5432"
    volumes:
      - postgis-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U reitti -d reittidb"]
      interval: 10s
      timeout: 5s
      retries: 5
  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"   # AMQP protocol port
      - "15672:15672" # Management UI port
      - "1883:1883" #MQTT port
    post_start:
      - command: rabbitmq-plugins enable rabbitmq_mqtt
        user: root
    environment:
      RABBITMQ_DEFAULT_USER: reitti
      RABBITMQ_DEFAULT_PASS: reitti
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 30s
      timeout: 10s
      retries: 5
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
  photon:
    image: rtuszik/photon-docker:1.0.0
    environment:
      - UPDATE_STRATEGY=PARALLEL
      - REGION=de
    ports:
      - "2322:2322"
    volumes:
      - photon-data:/photon/data
  ot-recorder:
    image: owntracks/recorder:latest
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      - OTR_HOST=rabbitmq
      - OTR_USER=reitti
      - OTR_PASS=reitti
    ports:
      - "8083:8083"
    volumes:
      - ot-recorder-data:/store
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    environment:
      - MINIO_ACCESS_KEY=minioAccessKey
      - MINIO_SECRET_KEY=minioSecretKey
    ports:
      - 9000:9000 # API port
      - 9001:9001 # Console UI port
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
  createbuckets:
    image: minio/mc:latest
    depends_on:
      - minio
    restart: on-failure
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      /usr/bin/mc alias set dockerminio http://minio:9000 minioAccessKey minioSecretKey;
      /usr/bin/mc mb dockerminio/reitti/images;
      exit 0;
      "
volumes:
  postgis-data:
  redis-data:
  rabbitmq-data:
  photon-data:
  ot-recorder-data:
  minio-data:
