<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memories - Reitti</title>
    <link rel="icon" th:href="@{/img/logo.svg}">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/lineicons.css}" href="../../static/css/lineicons.css">
    <link rel="stylesheet" th:href="@{/css/leaflet.css}" href="../../static/css/leaflet.css">
    <script th:src="@{/js/htmx.min.js}"></script>
    <script th:src="@{/js/leaflet.js}"></script>
    <script th:src="@{/js/leaflet.geodesic.2.7.2.js}"></script>
    <script th:src="@{/js/TileLayer.Grayscale.js}"></script>
    <script th:src="@{/js/raw-location-loader.js}"></script>
</head>
<body class="memories-page">
    <div id="memories-panel" class="memories-overview"></div>
    <div class="timeline">
        <div class="navbar">
            <a th:href="@{/}"><img class="logo" th:src="@{/img/logo.svg}" alt="reitti logo" title="reitti" src="/img/logo.svg"></a>
            <a href="/" class="nav-link" th:title="#{nav.timeline}"><i class="lni lni-route-1"></i></a>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" href="/memories" class="nav-link active" th:title="#{nav.memories}"><i class="lni lni-agenda"></i></a>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" href="/statistics" class="nav-link" th:title="#{nav.statistics}"><i class="lni lni-bar-chart-4"></i></a>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" href="/settings" class="nav-link" th:title="#{nav.settings.tooltip}"><i class="lni lni-gear-1"></i></a>
            <form th:action="@{/logout}" method="post" >
                <button type="submit" class="nav-link" style="font-size: 1.4rem;" th:title="#{nav.logout.tooltip}"><i class="lni lni-exit"></i>
                </button>
            </form>
        </div>

        <div class="timeline-container">
            <div id="years-navigation"
                 hx-get="/memories/years-navigation"
                 hx-trigger="load">
                <div class="photo-modal-loading-spinner htmx-indicator" th:text="#{timeline.loading}">Loading...</div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        window.userSettings = /*[[${userSettings}]]*/ {};

        function getUserTimezone() {
            if (window.userSettings.timeZoneOverride) {
                return window.userSettings.timeZoneOverride;
            } else {
                return Intl.DateTimeFormat().resolvedOptions().timeZone;
            }
        }

        function shouldTrigger(element) {
            return !element.classList.contains('active');
        }
    </script>
</body>
</html>
