<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.toLanguageTag()}">
<body>
<div th:fragment="link-form">
    <form class="inline-edit-form" th:hx-post="@{'/settings/api-tokens/link/'+${token.id()}}"
          hx-target="#api-tokens"
          hx-vals='js:{"timezone": getUserTimezone()}'
          hx-swap="innerHTML">
        <div class="form-group">
            <select id="deviceId" name="deviceId" class="form-control" required>
                <option th:each="device : ${devices}"
                        th:value="${device.id()}"
                        th:text="${device.name()}">Device Name</option>
            </select>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn">
                <span th:text="#{form.update}">update</span>
            </button>
            <button type="button" class="btn btn-link"
                    th:hx-get="@{/settings/api-tokens/tokens}"
                    hx-swap="innerHTML"
                    hx-target="#api-tokens">
                <span th:text="#{form.cancel}">Cancel</span>
            </button>
        </div>
    </form>
</div>
</body>
</html>