.avatar-marker-icon {
    background: none !important;
    border: none !important;
}

.avatar-marker {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: avatar-pulse 5s infinite;
}

.avatar-marker-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    font-size: 1.6rem;
    background: var(--color-highlight);
    font-family: var(--serif-font);
}


.avatar-marker-img:after {
    content: attr(alt);
    top: 0;
    position: absolute;
    background: white;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 2px;
    padding-left: 1px;
    font-family: var(--serif-font);
}

@keyframes avatar-pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
